<div class="main_r_top">
    <h3 class="main_r_top_title">大家都在学</h3>

    <div id="hotCoursePanel" class="main_r_cont">
        <dl class="main_r_cont_item clearfix">
            <dt class="learn_together"><a href="/site/course/12/courseContent.htm">ndndnnd</a></dt>
            <dd><p><strong>￥0.00</strong><span>155人在学</span></p>
                <p><!--<a href="javascript:void(0);" class="audit">抢旁听</a>--><a href="javascript:void(0);"
                                                                                onclick="collection($(this),'12',0)"
                                                                                class="add_love"><em></em>收藏</a></p>
            </dd>
        </dl>
        <dl class="main_r_cont_item clearfix">
            <dt class="learn_together"><a href="/site/course/23211443146080855/courseContent.htm">925机构课程-C</a></dt>
            <dd><p><strong>￥10.50</strong><span>150人在学</span></p>
                <p><!--<a href="javascript:void(0);" class="audit">抢旁听</a>--><a href="javascript:void(0);"
                                                                                onclick="collection($(this),'23211443146080855',0)"
                                                                                class="add_love"><em></em>收藏</a></p>
            </dd>
        </dl>
        <dl class="main_r_cont_item clearfix">
            <dt class="learn_together"><a href="/site/course/54211444807627516/courseContent.htm">老师张旺旺的政治课程</a></dt>
            <dd><p><strong>￥300.00</strong><span>79人在学</span></p>
                <p><!--<a href="javascript:void(0);" class="audit">抢旁听</a>--><a href="javascript:void(0);"
                                                                                onclick="collection($(this),'54211444807627516',0)"
                                                                                class="add_love"><em></em>收藏</a></p>
            </dd>
        </dl>
        <dl class="main_r_cont_item clearfix">
            <dt class="learn_together"><a href="/site/course/23211444276225143/courseContent.htm">108机构建立很长的名字测试购买后显示名字的问题是不是会出现</a>
            </dt>
            <dd><p><strong>￥10.00</strong><span>71人在学</span></p>
                <p><!--<a href="javascript:void(0);" class="audit">抢旁听</a>--><a href="javascript:void(0);"
                                                                                onclick="collection($(this),'23211444276225143',0)"
                                                                                class="add_love"><em></em>收藏</a></p>
            </dd>
        </dl>
        <dl class="main_r_cont_item clearfix">
            <dt class="learn_together"><a href="/site/course/23211445828662178/courseContent.htm">1026老师课程-物理</a></dt>
            <dd><p><strong>￥10.00</strong><span>55人在学</span></p>
                <p><!--<a href="javascript:void(0);" class="audit">抢旁听</a>--><a href="javascript:void(0);"
                                                                                onclick="collection($(this),'23211445828662178',0)"
                                                                                class="add_love"><em></em>收藏</a></p>
            </dd>
        </dl>
        <dl class="main_r_cont_item clearfix">
            <dt class="learn_together"><a href="/site/course/23211455607832973/courseContent.htm">内部学习课程</a></dt>
            <dd><p><strong>￥20.00</strong><span>46人在学</span></p>
                <p><!--<a href="javascript:void(0);" class="audit">抢旁听</a>--><a href="javascript:void(0);"
                                                                                onclick="collection($(this),'23211455607832973',0)"
                                                                                class="add_love"><em></em>收藏</a></p>
            </dd>
        </dl>
        <dl class="main_r_cont_item clearfix">
            <dt class="learn_together"><a href="/site/course/23212411/courseContent.htm">924学校课程-B</a></dt>
            <dd><p><strong>￥10.50</strong><span>35人在学</span></p>
                <p><!--<a href="javascript:void(0);" class="audit">抢旁听</a>--><a href="javascript:void(0);"
                                                                                onclick="collection($(this),'23212411',0)"
                                                                                class="add_love"><em></em>收藏</a></p>
            </dd>
        </dl>
        <dl class="main_r_cont_item clearfix">
            <dt class="learn_together"><a href="/site/course/541439279743/courseContent.htm">测试支付课程B</a></dt>
            <dd><p><strong>￥50.00</strong><span>32人在学</span></p>
                <p><!--<a href="javascript:void(0);" class="audit">抢旁听</a>--><a href="javascript:void(0);"
                                                                                onclick="collection($(this),'541439279743',0)"
                                                                                class="add_love"><em></em>收藏</a></p>
            </dd>
        </dl>
        <dl class="main_r_cont_item clearfix">
            <dt class="learn_together"><a href="/site/course/23211444977501359/courseContent.htm">1016机构课程-A</a></dt>
            <dd><p><strong>￥10.00</strong><span>32人在学</span></p>
                <p><!--<a href="javascript:void(0);" class="audit">抢旁听</a>--><a href="javascript:void(0);"
                                                                                onclick="collection($(this),'23211444977501359',0)"
                                                                                class="add_love"><em></em>收藏</a></p>
            </dd>
        </dl>
        <dl class="main_r_cont_item noBorder">
            <dt class="learn_together"><a href="/site/course/23211445935882191/courseContent.htm">剑桥分校测试课程4</a></dt>
            <dd><p><strong>￥500.00</strong><span>28人在学</span></p>
                <p><!--<a href="javascript:void(0);" class="audit">抢旁听</a>--><a href="javascript:void(0);"
                                                                                onclick="collection($(this),'23211445935882191',0)"
                                                                                class="add_love"><em></em>收藏</a></p>
            </dd>
        </dl>

    </div>

</div>