

.hands_up{width: 162px;height: 179px;background: url(/front/sanhai/edition/images/handsup.png) no-repeat;background: url(/front/sanhai/edition/images/handsup1.png) no-repeat\0;background-size: 100%;position: fixed;bottom: 112px;right: 6%;z-index: 100;cursor: pointer}
.cht_dialog_box{position: relative;background: #fff;border-radius: 10px}
.cht_dialog_box .ui-widget-header{height: 80px;overflow: hidden;line-height: 80px;background: transparent !important;color: #333 !important;font-size: 18px}
.ui-widget-header{background:#dbf3fb!important;color:#666!important;border-bottom: 1px solid #ddd;font-size: 18px;}
.cht_dialog_box .ui-widget-content{background: transparent !important}
.cht_dialog_box .ui-dialog-content{padding: 0 20px !important}
.cht_dialog_box .ui-dialog-buttonpane{padding-top: 0 !important}
.cht_dialog_box .ui-button{background: transparent !important;margin: 31px 22px 0 0 !important}
.cht_dialog_box .ui-button:hover{background: transparent !important}
.cht_dialog_box .ui-dialog-title{padding-left: 18px;color: #444}
.cht_dialog_box .w80{color: #333}
.cht_dialog_box .headsup{width: 282px;height: 311px;background: url(/front/sanhai/edition/images/handsup.png) no-repeat;position: absolute;top: -155px;right: 60px}
.cht_dialog_box .select_plus{margin-right: 2px}
.cht_dialog_box .popCont{padding-top: 0 !important}
.cht_dialog_box .popbox_item{padding: 0 !important}
.cht_dialog_box .ui-button-icon-only .ui-icon{display: inline-block;top: 0;margin: 0;width: 22px;height: 22px;padding: 0;background: url(/front/sanhai/edition/images/ico.png) no-repeat -360px -560px !important}
.cht_dialog_box .error_message_phone em.error{left: 200px}
.cht_dialog_box .ui-dialog-buttonpane{display: none}

.select_plus {display: inline-block;width: 252px;height: 34px;line-height: 34px;position: relative;border: 1px solid #DCDCDC;background: url(/front/sanhai/edition/images/ico.png) right -225px no-repeat;  vertical-align: middle;}
.select_plus .sel_body {width: 100%;height: 100%;position: absolute;left: 0;top: 0;opacity: 0;  filter: alpha( opacity=0);  border: none;  padding: 0;  }
.cht_dialog_box .select_plus {  margin-right: 2px;  }
.select_plus em {  width: 100%;  height: 100%;  position: absolute;  left: 0;  top: 0;  text-indent: 8px;  padding-left: 6px;  overflow: hidden;  }
.dialogs_box input {  border: 1px solid #dcdcdc !important;  }
.select_plus em {color: #666 !important;  }
input:-webkit-autofill {  -webkit-box-shadow: 0 0 0px 1000px #fff inset;  }

.establish_success .box .box_content i{width:62px;height:62px;background:url(../../images/ico.png) no-repeat -438px -278px;position:absolute;left:24px;top:50%;margin-top:-30px}
.establish_success .box .box_content i.fail{background:url(../../images/ico.png) no-repeat -440px -440px}
.establish_success {z-index: 100}