<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课海网</title>
</head>
<body>
    <div id="mainBox">
        <div id="recommend" class="container clearfix">
            <h3>今日推荐</h3>
        </div>
        <div id="goodCour" class="container clearfix">
            <h3>热门课程</h3>
        </div>
        <div id="onetooneCour" class="container clearfix">
            <h3>一对一教学</h3>
        </div>
        <div>
            <h3>最新评论</h3>
            <ul id="evaluate">

            </ul>
        </div>
    </div>
</body>
</html>