<div class="banner_bottom">
    <div class="banner_cont clearfix">
        <a href="http://b.kehai.com" target="_blank">
            <dl class="banner_item fl">
                <dt class="banner_item_img fl">
                    <img src="../../../images/banner_bottom1.png" alt="banner_bottom1" title="精品课">
                </dt>

            </dl>
        </a>
        <a href="http://b.kehai.com" target="_blank">
            <dl class="banner_item fl">
                <dt class="banner_item_img fl">
                    <img src="../../../images/banner_bottom2.png" alt="banner_bottom1" title="精品课">
                </dt>

            </dl>
        </a>
        <a href="http://b.kehai.com" target="_blank">
            <dl class="banner_item fl">
                <dt class="banner_item_img fl">
                    <img src="../../../images/banner_bottom3.png" alt="banner_bottom1" title="精品课">
                </dt>
            </dl>
        </a>
    </div>
</div>