<div class="enter_organization">
    <h3>入驻机构</h3>

    <div class="organization_banner_wrap pr">
        <a class="prev pa bg"></a>
        <a class="next pa bg"></a>

        <div class="organization_banner pr">
            <ul class="organization_banner_list clearfix pa">
                <!--<li><a href="/site/shool/23041459413901799/findCourseByorgId.htm"><img-->
                        <!--style="width:120px; height: 80px;" src="/front/sanhai/images/schoollogo.png" alt="测试01"-->
                        <!--title="测试01"></a></li>-->
                <!--<li><a href="/site/shool/23041457975662338/findCourseByorgId.htm"><img-->
                        <!--style="width:120px; height: 80px;" src="/file/loadImage/23131459909449440/120/80.r"-->
                        <!--alt="LC测试学校0315" title="LC测试学校0315"></a></li>-->
                <!--<li><a href="/site/shool/23041457666393955/findCourseByorgId.htm"><img-->
                        <!--style="width:120px; height: 80px;" src="/file/loadImage/23131459304445870/120/80.r"-->
                        <!--alt="LC测试学校2" title="LC测试学校2"></a></li>-->
                <!--<li><a href="/site/shool/23041457416439964/findCourseByorgId.htm"><img-->
                        <!--style="width:120px; height: 80px;" src="/file/loadImage/23131459908191145/120/80.r"-->
                        <!--alt="LC测试学校1" title="LC测试学校1"></a></li>-->
                <!--<li><a href="/site/shool/666666/findCourseByorgId.htm"><img style="width:120px; height: 80px;"-->
                                                                            <!--src="/file/loadImage/235688482253112352/120/80.r"-->
                                                                            <!--alt="adsf" title="adsf"></a></li>-->
                <!--<li><a href="/site/shool/5663070688642080/findCourseByorgId.htm"><img style="width:120px; height: 80px;"-->
                                                                                      <!--src="/front/sanhai/images/schoollogo.png"-->
                                                                                      <!--alt="wer" title="wer"></a></li>-->
                <!--<li><a href="/site/shool/1460704380681/findCourseByorgId.htm"><img style="width:120px; height: 80px;"-->
                                                                                   <!--src="/front/sanhai/images/schoollogo.png"-->
                                                                                   <!--alt="415学校" title="415学校"></a></li>-->
                <!--<li><a href="/site/shool/1460605094396/findCourseByorgId.htm"><img style="width:120px; height: 80px;"-->
                                                                                   <!--src="/front/sanhai/images/schoollogo.png"-->
                                                                                   <!--alt="414学校" title="414学校"></a></li>-->
                <!--<li><a href="/site/shool/1460528843933/findCourseByorgId.htm"><img style="width:120px; height: 80px;"-->
                                                                                   <!--src="/front/sanhai/images/schoollogo.png"-->
                                                                                   <!--alt="413学校" title="413学校"></a></li>-->
                <!--<li><a href="/site/shool/23041460366322532/findCourseByorgId.htm"><img-->
                        <!--style="width:120px; height: 80px;" src="/front/sanhai/images/schoollogo.png" alt="测换老师学校"-->
                        <!--title="测换老师学校"></a></li>-->
                <!--<li><a href="/site/shool/23041459478479555/findCourseByorgId.htm"><img-->
                        <!--style="width:120px; height: 80px;" src="/front/sanhai/images/schoollogo.png" alt="0401账户"-->
                        <!--title="0401账户"></a></li>-->
                <!--<li><a href="/site/shool/23041459400139830/findCourseByorgId.htm"><img-->
                        <!--style="width:120px; height: 80px;" src="/front/sanhai/images/schoollogo.png" alt="331学校"-->
                        <!--title="331学校"></a></li>-->
            </ul>
        </div>
    </div>
</div>