<div class=" frame_12k">
    <div class="search_bar">
        <div class="wrap_search">
            <div class="wrap_search_top">
                <div class="search_select">
                    <div class="select_type_List">
                        <h5>
                            <span class="sele_type">课程</span>
                            <i class="serviceList_sel"></i>
                        </h5>
                        <ul class="hide">
                            <li class="font12">学校</li>
                            <li class="font12">课表</li>
                            <li class="font12">课海</li>
                        </ul>
                    </div>
                </div>
                <div class="search_wrap" id="search_input">
                    <div class="input_wrapper">
                        <input type="text" class="subTitleBar_text1" placeholder="请输入课程名称、关键词等..."/>
                    </div>
                    <button id="sercher" type="button">
                        <i></i>
                    </button>
                </div>
            </div>
            <ul id="hotSearchKey" class="class_list"><li><a href="/site/course/ignore/10010/courseTransfer.htm">语文</a></li><li><a href="/site/course/ignore/10011/courseTransfer.htm">数学</a></li><li><a href="/site/course/ignore/10012/courseTransfer.htm">英语</a></li><li><a href="/site/course/ignore/10013/courseTransfer.htm">生物</a></li><li><a href="/site/course/1/ignore/courseTransfer.htm">小学</a></li><li><a href="/site/course/2/ignore/courseTransfer.htm">小升初</a></li></ul>
            <div class="shopping_car pa hide ">
                <a href="/shopping/shoppingCoureses.htm"><span>购物车(<em id="shoppingcount">0</em>)</span><i></i></a>
            </div>

        </div>
    </div>
</div>