	<div class="r_header_warp pr">
		<div class="frame_12k">
			<div class="header_l fl pr">
				<a href="/site/index.html" class="pa index_log_r"><img src="/front/sanhai/images/Nlogo.png" height="150" width="200"></a>
				<ul class="fl h_l_nav">
				</ul>
			</div>
			<div class="header_r fr">
				<ul class="clearfix h_r_nav">
					<!-- <li class="fl"><a href="/login.htm" class="f_ff8000">请登录</a> &nbsp;|&nbsp;<a
							href="/reg/register.htm;">
						注册</a>
					</li> -->
					<li class="fl loginState">
						<script type="text/template" id="template">
							<a href="<%= login%>" class="f_ff8000">
								<%= user %>
							</a> &nbsp;|&nbsp;
							<a href="<%= linkState%>">
								<%= state %>
							</a>
						</script>
					</li>
					<li class="fl tabRole pr hide">
						<a href="javascript:;"><em class="tab_ico3"></em>切换身份</a>
						<ul class="pa tab_role changeIdentity hide">
							<em class="app_arrow pa"></em>
						</ul>
					</li>
					<li class="fl pr message ">
						<em class="pa msg_prɒmpt"></em>
						<a href="/sysMessage/toSysMessage.htm"><em class="msg_ico3"></em><strong>消息中心</strong></a>
					</li>
					<li class="fl pr down_app">
						<a href="/site/appDownload.htm"><em class
						="app_ico3"></em>APP下载</a>
					</li>
					<li class="fl pr serviceList">
						<a href="javascript:;"><em class="service_ico3"></em> 客服中心</a>
						<ul class="pa service_select hide">
							<em class="app_arrow pa"></em>
							<li><a href="javascript:void(0);">联系客服</a></li>
							<li><a href="/site/webBottomLink/toStuIndex.htm">帮助中心</a></li>
							<li class="border_b_n"><a href="/site/webBottomLink/tocomplaintsandsuggestions.htm">意见反馈</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
