<div class="enter_organization frame_12k">
    <hr>
    <div class="questions_wrap clearfix">
        <div class="questions_item">
            <div class="questions_item_cont clearfix">
                <i class="bg questions_item_bg1"></i>
                <div class="questions_text">
                    <p class="questions_head"><a href="/site/webBottomLink/toStuIndex.htm">学生帮助</a></p>
                    <p><a href="/site/webBottomLink/toStuIndex.htm">关于注册</a></p>
                    <p><a href="/site/webBottomLink/toStuIndex.htm">关于课程</a></p>
                    <p><a href="/site/webBottomLink/toStuIndex.htm">关于支付和售后</a></p>
                </div>
            </div>
        </div>
        <div class="questions_item">
            <div class="questions_item_cont clearfix">
                <i class="bg questions_item_bg2"></i>
                <div class="questions_text">
                    <p class="questions_head"><a href="/site/webBottomLink/toteacherindex.htm">教师帮助</a></p>
                    <p><a href="/site/webBottomLink/toteacherindex.htm">关于注册</a></p>
                    <p><a href="/site/webBottomLink/toteacherindex.htm">关于课程</a></p>
                    <p><a href="/site/webBottomLink/toteacherindex.htm">关于财务</a></p>
                </div>
            </div>
        </div>
        <div class="questions_item border_none">
            <div class="questions_item_cont clearfix">
                <i class="bg questions_item_bg3"></i>
                <div class="questions_text">
                    <p class="questions_head"><a href="/site/webBottomLink/toorganizationIndex.htm">学校帮助</a></p>
                    <p><a href="/site/webBottomLink/toorganizationIndex.htm">关于注册</a></p>
                    <p><a href="/site/webBottomLink/toorganizationIndex.htm">关于课程</a></p>
                    <p><a href="/site/webBottomLink/toorganizationIndex.htm">关于财务</a></p>
                </div>
            </div>
        </div>
    </div>
</div>