<div class="footer clearfix">
    <ul class="pr">
        <li><a href="/site/webBottomLink/tocompany_intro.htm">北京三海教育科技有限公司</a></li>
        <li>&nbsp;<a href="/index.htm">网站首页</a> |&nbsp;</li>
        <li><a href="/site/webBottomLink/tocompany_intro.htm">公司简介</a> |&nbsp;</li>
        <li><a href="/site/webBottomLink/toaboutUs.htm">产品简介</a> |&nbsp;</li>
        <li><a href="/site/webBottomLink/totheysettled.htm">网校入驻 </a>|&nbsp;</li>
        <li><a href="/reg/counselorJoin.htm">咨询师入驻 </a>|&nbsp;</li>
        <li><a href="/site/webBottomLink/tocomplaintsandsuggestions.htm">投诉与建议</a></li>
    </ul>
    <p class="clearBoth">Copyright 2009-2015 <a href="http://b.kehai.com" style="color: #fff;">www.kehai.com</a>&nbsp;All
        Rights Reserved.&nbsp;&nbsp;&nbsp;&nbsp;京ICP证160315号&nbsp;&nbsp;&nbsp;<a
                href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action" style="color: #fff;">京ICP备14022510号-3</a>&nbsp;&nbsp;
        京公网安备 11010802017286</p>
    <p>
        <span>地址：北京市海淀区上地四街1号院2号楼5层&nbsp;&nbsp;电话：010-62962838</span>
    </p>
</div>