
<!--网站主导航-->
<div class="school_mainNav n_border_b">
    <div class="frame_12k">
        <div class="all_class_type fl pr" style="z-index: 90;">
            <h2 id="mainNavToggle" class="select_classes_bg"><i></i>全部课程分类</h2>

            <div id="mainNavBarMenu" class="class_type_wrap pa">
                <ul class="class_type" id="js-sidebar">
                    <li style="cursor: pointer;">
                        <div class="class_type_content pr"
                             style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(253, 189, 57);">
                            <h3>小学</h3>

                            <p>
                                <a>数学</a>
                                <a>语文</a>
                                <a>英语</a>
                            </p>
                            <a href="javascript:;" class="more_class select_classes_bg pa"></a>
                            <ul class="more_class_cont pa hide">
                                <li><a>语文</a></li>
                                <li><a>数学</a></li>
                                <li class="noBorder"><a>英语</a></li>


                            </ul>

                        </div>
                    </li>
                    <li style="cursor: pointer;">
                        <div class="class_type_content pr"
                             style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(253, 189, 57);">
                            <h3>小升初</h3>

                            <p>
                                <a>数学</a>
                                <a>语文</a>
                                <a>英语</a>
                            </p>
                            <a href="javascript:;" class="more_class select_classes_bg pa"></a>
                            <ul class="more_class_cont pa hide">
                                <li><a>数学</a></li>
                                <li><a>语文</a></li>
                                <li class="noBorder"><a>英语</a></li>
                            </ul>
                        </div>
                    </li>
                    <li style="cursor: pointer;">
                        <div class="class_type_content pr"
                             style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(253, 189, 57);">
                            <h3>初中</h3>

                            <p>
                                <a>数学</a>
                                <a>语文</a>
                                <a>英语</a>
                            </p>
                            <a href="javascript:;" class="more_class select_classes_bg pa"></a>
                            <ul class="more_class_cont pa hide">
                                <li><a>数学</a></li>
                                <li><a>语文</a></li>
                                <li><a>英语</a></li>
                                <li><a>生物</a></li>
                                <li><a>物理</a></li>
                                <li><a>化学</a></li>
                                <li><a>地理</a></li>
                                <li class="noBorder"><a>历史</a></li>


                            </ul>
                        </div>
                    </li>
                    <li style="cursor: pointer;">
                        <div class="class_type_content pr"
                             style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(253, 189, 57);">
                            <h3>中考</h3>

                            <p><a>数学</a>
                                <a>语文</a>
                                <a>英语</a>
                            </p>
                            <a href="javascript:;" class="more_class select_classes_bg pa"></a>
                            <ul class="more_class_cont pa hide">
                                <li><a>数学</a></li>
                                <li><a>语文</a></li>
                                <li><a>英语</a></li>
                                <li><a>物理</a></li>
                                <li><a>化学</a></li>
                                <li class="noBorder"><a>历史</a></li>

                            </ul>
                        </div>
                    </li>
                    <li class="" style="cursor: pointer;">
                        <div class="class_type_content pr"
                             style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(253, 189, 57);">
                            <h3>高中</h3>

                            <p><a>数学</a>
                                <a>语文</a>
                                <a>英语</a>
                            </p>
                            <a href="javascript:;" class="more_class select_classes_bg pa"></a>
                            <ul class="more_class_cont pa hide">
                                <li><a>数学</a></li>
                                <li><a>语文</a></li>
                                <li><a>英语</a></li>
                                <li><a>生物</a></li>
                                <li><a>物理</a></li>
                                <li><a>化学</a></li>
                                <li><a>地理</a></li>
                                <li><a>历史</a></li>
                                <li class="noBorder"><a>政治</a></li>
                                <!-- <li><a >理综</a></li>
                                <li class="noBorder"><a >文综</a></li> -->
                            </ul>
                        </div>
                    </li>
                    <li style="cursor: pointer;">
                        <div class="class_type_content pr border_none">
                            <h3>高考</h3>

                            <p><a>数学</a>
                                <a>语文</a>
                                <a>英语</a>
                            </p>
                            <a href="javascript:;" class="more_class select_classes_bg pa"></a>
                            <ul class="more_class_cont pa hide">
                                <li><a>数学</a></li>
                                <li><a>语文</a></li>
                                <li><a>英语</a></li>
                                <li><a>生物</a></li>
                                <li><a>物理</a></li>
                                <li><a>化学</a></li>
                                <li><a>地理</a></li>
                                <li><a>历史</a></li>
                                <li class="noBorder"><a>政治</a></li>
                                <!-- <li><a >理综</a></li>
                                <li class="noBorder"><a >文综</a></li> -->
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <ul class="mainNav fl">
            <li id="mainNavIndex" class="ac"><a href="/site/index.html">首页</a></li>
            <li id="mainNavSchool"><a href="/site/list.html#school">学校</a></li>
            <li id="mainNavCourse"><a href="/site/list.html#course">课程中心</a></li>
            <!--<li id="mainNavCourse"><a href="/site/course/selectCourse.htm">课程中心</a></li>-->
            <li id="mainNavPtCourse"><a href="/site/list.html#PT">课表</a></li>
            <li id="mainNavVideoCourse"><a href="/site/list.html#KH">课海</a></li>
        </ul>
    </div>
</div>