body,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,hr,blockquote,object,iframe,fieldset,input,legend,form,th,td{margin:0;padding:0}
        img{border:none}
        h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:normal }
        i,b,em,strong{font-style:normal;font-weight:normal}
        ul,ol,li{list-style:none}   
        body{font-family: "Microsoft YaHei";color:#555;word-break:break-all;font-size:0.61rem;}
        html{ font-size:20px;}
        .fl{float:left}
        .fr{float:right}
        .ff8000{ color:#ff8000}
        .f333{ color:#333333 !important;}
        .f555{ color:#555555 !important}
        .pr{position:relative;}
        .pa{position:absolute}
        .border_0{border:none !important;}
        .cursor{cursor:pointer;}

        #hrader{background:#0099ff; text-align: center; color:#fff; padding:0.6rem 0.59rem; position: fixed;top:0; left:0; width:100%;z-index: 1;box-sizing:border-box;}
         #hrader h2{position: relative; font-size:0.95rem;}
       .l_arrow{width:0.54rem; height: 1.04rem; background: url(../../../front/sanhai/images/app/l_arrow.png) no-repeat; background-size: 100% 100%;position: absolute; left:0; top:50%; margin-top:-0.52rem;}
       .tit_dec{ width:0.11rem; height:0.95rem;position: absolute; background: url(../../../front/sanhai/images/app/tit_dec.png) no-repeat; background-size: 100% 100%;left:0;top:50%; margin-top:-0.475rem;}
       #content{padding:0.35rem  0.59rem 3.35rem 0.59rem; background: #efeff4; margin-top: 2.47rem}
       .top{ padding:0.71rem 0.47rem; background: #fff; border-radius: 0.22rem; }
       .top h4{ font-size: 0.71rem;padding-bottom:0.3rem}
       .top p{font-size:0.61rem; line-height: 0.8rem} 
       .subject { }
       .subject h4{ padding:0.47rem 0;font-size: 0.71rem; padding-left: 0.28rem;line-height: 0.95rem }
       .subject .con{ padding:0.71rem 0.47rem;  background: #fff; border-radius: 0.22rem;}
       .subject .con ul{ line-height:0.75rem }

       .handout h4{ padding:0.47rem 0;font-size: 0.71rem; padding-left: 0.28rem;line-height: 0.95rem }
       .handout .con{ padding:0 0.47rem;  background: #fff; border-radius: 0.22rem;}
       .handout .con .con_tit{ width:1.66rem;height:1.66rem;background: url(../../../front/sanhai/images/app/con_tit.png) no-repeat;background-size: 100% 100%;left:0; top:50%;margin-top: -0.83rem; }
       .handout .con .con_load{ width:0.92rem;height:1.26rem;background: url(../../../front/sanhai/images/app/load.png) no-repeat;background-size: 100% 100%;right:0; top:50%;margin-top: -0.63rem; }
       .handout .con li{height:2.85rem; line-height: 2.85rem; padding-left: 1.94rem; border-bottom:1px solid #ddd;}

       
       .introduces h4{ padding:0.47rem 0;font-size: 0.71rem; padding-left: 0.28rem;line-height: 0.95rem }
       .introduces .con{ padding:0.71rem 0.47rem;  background: #fff; border-radius: 0.22rem; line-height:0.75rem }
       .introduces .con img{ width:13.88rem; height:7.14rem; margin-top: 0.35rem}

       #footer{ position: fixed; left:50%; margin-left: -7.42rem; bottom: 0.2rem; width:14.83rem; background: #009aff; color:#fff; font-size:0.85rem; text-align: center; border-radius: 0.22rem;padding:0.35rem 0}