@charset "utf-8";/* CSS Document */
/*日历*/
.calendar{border:1px solid #ddd}
.calendar .weekList{background:#f7f7f7}
.calendar .weekList li, .calendar .dateList li{float:left;height:40px;width:104px;border-style:solid;border-color:transparent;border-width:2px;text-align:center;line-height:40px;color:#aaa}
.calendar .dateList{padding:10px 0}
.calendar .dateList li{float:left;color:#333;margin-right:1px;margin-bottom:1px;position:relative;height:46px;line-height:42px}
/*今天的状态*/
.calendar .dateList li.today{background:url(../images/ico.png) no-repeat -652px -600px;color:#fff}
.calendar .dateList li.today:hover{background:url(../images/ico.png) no-repeat -652px -600px;color:#fff}
/*今天有课*/
.calendar .dateList li.today.one{border-color:#fff;background:url(../images/ico.png) no-repeat -652px -680px}
.calendar .dateList li.today.one:hover{border-color:#fff;background:url(../images/ico.png) no-repeat -652px -680px}
.calendar .dateList li.today.cls:hover{border-color:#fff;background:url(../images/ico.png) no-repeat -652px -680px}
.calendar .dateList li.today.cls{border-color:#fff;background:url(../images/ico.png) no-repeat -652px -680px}
.calendar .dateList li.today.cls:hover{border-color:#fff;background:url(../images/ico.png) no-repeat -652px -680px}
.calendar .dateList li.today.one:hover{border-color:#fff;background:url(../images/ico.png) no-repeat -652px -680px}
.calendar .dateList li.ccc{color:#aaa}
/*预定课的状态*/
.calendar .dateList li.one, .calendar .dateList li.cls{background:url(../images/ico.png) no-repeat -664px -200px;cursor:pointer}
/*预定课hover状态*/
.calendar .dateList li.cls:hover{background:url(../images/ico.png) no-repeat  -664px -280px;cursor:pointer}
.calendar .dateList li.one:hover{background:url(../images/ico.png) no-repeat  -664px -280px;cursor:pointer}
.calendar .dateList li.ccc.cls:hover{background:url(../images/ico.png) no-repeat  -664px -520px;cursor:pointer}
.calendar .dateList li.ccc.one:hover{background:url(../images/ico.png) no-repeat  -664px -520px;cursor:pointer}
/*一对一*/
.calendar .dateList li.one{}
.calendar .dateList li.hover{background:url(../images/ico.png) no-repeat  -664px -360px;cursor:pointer}
/*班课*/
.calendar .dateList li.cls{}
.calendar .dateList li.ccc.one, .calendar .dateList li.ccc.cls{background:url(../images/ico.png) no-repeat -664px -440px;cursor:pointer}

.calendar .dateList li.sun{color:red}
.calendar .controlBar{height:40px;position:relative;border-bottom:1px solid #ddd;*z-index:30;}
.calendar .controlBar .widget_select{position:absolute;padding:0;height:40px;line-height:40px;border-right:1px solid #ddd;top:0}
.calendar .controlBar .widget_select ul li{height:30px;line-height:30px}
.calendar .controlBar .widget_select h6{padding-left:26px}
.calendar .controlBar .control_year{width:33%;left:0;top:0;text-align:center}
.calendar .controlBar .control_month{width:33%;left:33%;top:0;text-align:center}

.calendar .controlBar .control_classes{width:95px;left:132px}
.calendar .controlBar .control_classes h6{padding-left:10px}
.calendar .controlBar .widget_select_hover span{color:#50bd69}
.calendar .controlBar .widget_select_hover a{height:30px;line-height:30px}
.calendar .controlBar .widget_select_hover a:hover{background:#50bd69;color:#fff !important}
.calendar .controlBar .backTodayBtn{position:absolute;right:10px;color:#333 !important;background:none}
.calendar .controlBar .backTodayBtn:hover{color:#50bd69 !important;background:none !important}

.calendar_cls_detail{position:absolute;top:55px;left:-20px;width:200px;padding:10px;background:#5e6c74;color:#fff;text-align:left;z-index:30;line-height:24px;opacity:0.6;fliter:alpha(opacity=50)}
.calendar_cls_detail .arrow{left:28px;background-position:-130px -1090px}
.calendar_cls_detail h6, .calendar_cls_detail p, .calendar_cls_detail .time{font-size:12px}
.calendar_cls_detail_l{left:-160px}
.calendar_cls_detail_l .arrow{left:170px}

.popI_arrow{position:absolute;top:50px;left:20px;background:url(../images/ico.png) no-repeat 0 -400px;width:15px;height:5px;opacity:0.6;after:alpha(opacity=60);z-index: 10;}
