.reason {
    position: absolute;
    width: 300px;
    height: 350px;
    top: 0px;
    left: 900px;
    border-width: 2px;
    display: none;
}

.form-group {
    padding-top: 15px;
    padding-bottom: 15px;
}

label {
    margin-right: 20px;
    width: 70px;
    display: inline-block;
}