
/*导航条*/
.mainNavWrap{background:#fcb314;margin-top:20px;*margin-top:46px}
.mainNav{height:50px}
.mainNavWrap .mainNav li{float:left;/*padding:0 45px;*/line-height:50px}
.mainNavWrap .mainNav .ac, .mainNavWrap .mainNav li:hover{background-color:#ff8000}
.mainNavWrap .mainNav .ac a{color:white}
.mainNavWrap .mainNav li a{font-size:16px}
.mainNavWrap .mainNav li:hover a{color:white !important}
.wrap_search_top .search_select em{position:absolute;top:50%;margin-top:-11px;right:-2px;height:22px;border-left:1px solid #fcb314}
/*banner*/
.bannerWarp{height:350px;background:#aecdea;width:100%}
.banner{height:350px;overflow:hidden;position:relative}
.banner .bannerList img{width: 1200px;height: 350px}
.banner .slidernav{position:absolute;bottom:0;left:50%;width:100px;margin-left:-50px;height:24px;background:rgba(0,0,0,0.2);border-radius:24px;line-height:24px;text-align:center;cursor:pointer}
.banner .slidernav .slidernav_ul{display:inline-block;height:100%;vertical-align:middle}
.banner .slidernav .slidernav_ul li{width:10px;height:10px;border:1px solid #fff;margin-left:4px;display:inline-block;border-radius:50%}
.banner .slidernav .slidernav_ul li.ac{background:#fff}
.bannerWarp .evaluation{width:220px;background:white !important;height:260px;right:50px;top:45px}
.bannerWarp .evaluation h4{height:40px;background:#4aacf3;line-height:40px;padding-left:20px}
.bannerWarp .evaluation .evaluation_main{padding:16px 25px}
.bannerWarp .evaluation input{margin-bottom:15px;border:1px solid #ccc;padding:5px 0px 5px 10px;width:160px}
.bannerWarp .evaluation .select_plus{border-right:1px solid #dcdcdc !important;width:94px;height:36px;line-height:36px;margin:0px}
.bannerWarp .evaluation .select_plus em{color:#a7a7a8}
.bannerWarp .evaluation a{display:block;text-align:center;width:167px;height:36px !important;border:1px solid #4aacf3;background:none;margin-top:14px;border-radius:20px;color:#4aacf3 !important;line-height:36px !important}
.bannerWarp .evaluation a:hover{background: #4aacf3;color: white !important;}
.bannerWarp .evaluation .evaluationMain{text-align:center;width:167px;margin:55px 25px 0px}
.bannerWarp .evaluation .evaluationMain h1{font-size:40px;color:#4aacf3;padding-bottom:30px}
.bannerWarp .evaluation .evaluationMain p{padding-bottom:24px;color:#666}
/*本校课程*/
.school_index .school_curriculum{margin-top:20px}
.school_index .tab .tabCont .tabItem {padding:33px 16px;}
.school_index .tab .tabCont .tabItem  hr{border-top: 1px solid #dcdcdc;}
.school_index .school_curriculum .tabList{margin-left:164px;border:none}
.school_index .school_curriculum .tabList li{position:relative}
.school_index .school_curriculum .tabList li .ac,.school_index .school_curriculum .tabList li a:hover{background: url(../images/icon.png) center -47px no-repeat;*background-position: center -41px;}
.school_index .school_curriculum .tabList li a{line-height:32px !important;  padding: 0px 34px;*padding: 3px 40px;}
.school_index .school_curriculum .tabList .tab .tabList .ac {border-bottom:2px solid #ff7f00 !important;color:#FBB331 !important}
.school_index .school_curriculum .curriculum_main{width:513px;height:210px;border:2px solid #dcdcdc;padding:20px 20px 15px;*height:auto !important}
.school_index .school_curriculum .curriculum_main:hover{box-shadow:0px 3px 10px #ccc}
.school_index .school_curriculum .curriculum_main i{margin-right:5px}
.school_index .school_curriculum .tabCont ul{margin-right:-58px;width:1226px}
.school_index .school_curriculum .tabCont ul li{margin-bottom:40px !important;float:left;padding-right:56px}
.school_index .school_curriculum .curriculum_main dt{padding-bottom: 6px;}
.school_index .school_curriculum .curriculum_main dd{margin-left:23px;width:280px;margin-top:4px}
.school_index .school_curriculum .curriculum_main dd h4{padding: 5px 0px 9px;}
.school_index .school_curriculum .curriculum_main dd em{font-size:20px}
.school_index .school_curriculum .consultation{padding-left:10px;margin-top:5px;height:38px}
.school_index .school_curriculum .consultation span{padding-right:75px;line-height:38px;*float:left;color: #666;}
.school_index .school_curriculum .consultation button{height:38px !important;float:right;*margin-right:0px;border-radius: 0px;}
.school_index .school_curriculum .consultation button:hover{background:#fcb314 !important}
.school_index .school_curriculum .buy_classes{padding:10px 0px 0px 7px}
.school_index .school_curriculum .buy_classes img{width:36px;height:36px;border-radius:50px ;vertical-align:middle}
.school_index .school_curriculum .buy_classes span{margin-left:14px;line-height:40px;color:#666}
.school_index .school_curriculum .buy_classes a i{width:10px;height:6px;background:url(../images/ico.png) -280px -120px no-repeat;display:inline-block;margin-left: 5px;}
.school_index .school_curriculum .buy_classes em,.school_index .school_curriculum .buy_classes a{line-height:35px}
.school_index .school_curriculum .buy_classes em{margin-right: 33px;}
.school_index .school_curriculum .oto{width:98px;height:88px;top:-17px;left:-19px;background:url(../images/oto.png) 0px 0px no-repeat;display:inline-block}
.school_index .school_curriculum .attend{width:98px;height:88px;top:-17px;left:-19px;background:url(../images/oto.png) 0px -300px no-repeat;display:inline-block}
.school_index .school_curriculum .super_scholar{width:98px;height:88px;top:-17px;left:-19px;background:url(../images/oto.png) 0px -100px no-repeat;display:inline-block}
.school_index .school_curriculum .classes{width:98px;height:88px;top:-17px;left:-19px;background:url(../images/oto.png) 0px -200px no-repeat;display:inline-block}
.school_index .school_curriculum .buy_classes .try_listen1 i{width:21px;height:18px;background:url(../images/ico.png) -280px -160px no-repeat;display:inline-block}
.school_index .school_curriculum .buy_classes .try_listen2 i{width:71px;height:26px;background:url(../images/ico.png) -320px -160px no-repeat;display:inline-block}
.school_index .school_curriculum .buy_classes .try_listen3 i{width:22px;height:17px;background:url(../images/ico.png) -240px -160px no-repeat;display:inline-block}
/*优秀老师*/
.school_index .good_teacher h2{padding-bottom:15px}
.school_index .good_teacher hr,.school_index .detail hr,.school_index .school_curriculum hr{border-top: 2px solid #dcdcdc;}
.school_index .good_teacher .teacherList{padding:24px 10px 0px;margin-right:-38px}
.school_index .good_teacher dl{float:left;width:263px;height:300px;text-align:center;margin-right:38px;margin-bottom:30px;border:1px solid #eee}
.school_index .good_teacher dl dd h5 a{display:block;color: #999;font-size: 16px;}
.school_index .good_teacher dl dd h3{font-size: 22px;}
.school_index .good_teacher dl:hover{box-shadow:0px 3px 10px #ccc}
.school_index .good_teacher dd{margin-top:10px}
.school_index .good_teacher img{border-radius:50%;width:150px;height:150px;margin-top:28px}
.school_index .good_teacher dd p{padding-bottom:30px;margin-top: 10px;}
.school_index .good_teacher dd p a{background:#76b952;padding:3px 10px;color:white}
.school_index .good_teacher dd p a:hover{color: white !important;}
/*评论*/
.detail .ul_main {padding:20px 0px}
.detail .ul_main h2{padding-bottom:15px}
.school_index .dialogItem .dialogCont{width: 780px;}


/*主体*/
.class .tab .tabCont .tabItem{padding:0}
.class .tab{padding-top: 4px;}
.class .tab .tabList li a {padding: 0 40px;}
.class .class_item{padding:31px 0 37px;position:relative;border-bottom:1px solid #dcdcdc;min-height:170px}
.class .class_item_cont .course_price{font-size:18px;color:#ff8000;}
.class .class_img_warp, .class_img_warp img{width:270px;height:170px}
.class .class_img_warp{position:absolute;left:0;top:33px}
.class .class_img_warp img{display:block}
.class .add_shopping_car{position:absolute;right:0;top:53px;width:270px}
.class .add_shopping_car button{margin-left:80px;background-color:#ff8000;width:110px;height:40px !important;margin-top:20px;} 
.class .class_item_cont{margin-left:300px}
.class .class_item_cont h2 a{font-size:22px;max-width: 660px; height:27px;line-height:27px;font-weight:bold;color:#333333;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;display: inline-block;}
.class .class_item_cont h2 a:hover{color:#333333!important}
.class .class_item_cont h2 span{font-size:14px;color:#fcb314;padding-left: 25px;}
.class .class_item_cont td{font-size:14px;height:30px;color:#333333}
.class .one_to_one td{height:24px}

.checkbox_warp{margin-left:40px}
.checkbox_warp span{width:120px;display:inline-block;text-align:left;height:40px}
.w625{width:480px}
.choice_buy h6{margin-bottom:30px}
.goto_shoppingcar{width:120px!important;height:40px!important;line-height:40px!important;margin-top:40px;margin-bottom:40px;border-radius:5px;background-color:#ff8000!important}

/*------------class end-------------*/
/*学校-教师列表*/
.school_tch_list .score_ul .score {margin-left: 0px;}
.school_tch_list dl{padding:0px 0px 26px;border-bottom:1px solid #dcdcdc;position:relative}
.school_tch_list dl dt{float:left;width:207px}
.school_tch_list dl img{width:135px;height:135px;border-radius:50%;margin-top:20px}
.school_tch_list dl dt i{width:16px;height:16px;background:url(../images/bg.png) -160px 0px no-repeat;display:inline-block;padding-right:3px}
.school_tch_list dl dd{float:left}
.school_tch_list .tch_main{width:868px;*width: 860px}
.school_tch_list .tch_name{padding-top:30px}
.school_tch_list .tch_name a{font-size:18px;font-weight:bold;padding-right:20px}
.school_tch_list .tch_authentication{padding:20px 0px}
.school_tch_list .tch_authentication i{width:30px;height:25px;background:url(../images/ico.png) 0px -280px;padding-right:7px}
.school_tch_list .tch_authentication b{width:24px;height:24px;background:url(../images/ico.png) -40px -280px;display:inline-block;vertical-align:middle;padding-right:7px}
.school_tch_list .tch_authentication s{width:20px;height:22px;background:url(../images/ico.png) -80px -280px;display:inline-block;vertical-align:middle;padding-right:7px}
.school_tch_list .tch_authentication span{margin-right:15px;display:inline-block;height:35px;width:110px;border:1px solid #fcb314;background:#fff9ea;text-align:center;line-height:35px;border-radius:4px}
.school_tch_list .tch_information i{width:22px;height:25px;background:url(../images/ico.png) -160px -280px;padding-right:11px}
.school_tch_list .tch_information b{width:22px;height:16px;background:url(../images/ico.png) -200px -280px;display:inline-block;vertical-align:middle;padding-right:11px}
.school_tch_list .tch_information s{width:22px;height:19px;background:url(../images/ico.png) -240px -280px;display:inline-block;vertical-align:middle;padding-right:11px}
.school_tch_list .tch_information span{padding-right:30px}
.school_tch_list dl p{padding-top:20px}
.school_tch_list dl p a:hover{color:#ff8000!important;text-decoration:underline}
.school_tch_list dd button{height:40px!important;background:#ff7f00;color:white!important;/*background:white;color:#ff7f00!important;*/}
.school_tch_list dd button.attention{margin-top: 65px}
.school_evaluation .all_comment .dialogList .dialogItem .dialogCont {width:780px}
.school_evaluation .detail .ul_main {padding: 0px 0px;}
/*学校-简介*/
.school_profile .profile_main{padding:40px 16px}
.school_profile .profile_main p{color: #666;}
.school_profile .profile_main p strong{font-weight: bold}
.school_profile .profile_main p em{font-style: italic}
.school_profile .profile_main p li{margin-left: 18px;}
.school_profile .profile_main p ol li{list-style-type: decimal}
.school_profile .profile_main p ul li{list-style-type: disc}
.crumbs{height:50px;}
.crumbs a,.crumbs span{color:#a1a1a1;line-height:50px}
.crumbs a span:hover{color: #ff8000;}
.crumbs .first{padding-left: 20px;}
.crumbs hr{border-top: 2px solid #dcdcdc;}